body {
  background-image: url("./assets/Images/wedding-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* text-align: center; */
}

* {
  /* border: 1px solid red; */
}

header {
  /* background-image: linear-gradient(to top, violet, red); */
  /* padding: 1rem; */
  text-align: center;
  padding: 0;
  border-radius: 1rem;
}

section {
  border-radius: 1rem;
}

p {
  text-indent: 2rem;
  color: #867267;
  font-size: 1.5vw;
  line-height: 1.5;
  padding: 0 2vw;
}

h1 {
  text-align: center;
  padding: 1rem;
}

h2 {
  text-align: center;
  padding: 1rem;
}

h3 {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 10px;
  display: block;
}

td,
th {
  border: 0.15rem solid black;
  font-family: arial, sans-serif;
  font-size: large;
  text-align: center;
  padding: 0.5rem;
}

tr:nth-child(odd) {
  background-color: skyblue;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}

#root {
  margin: 2.5vh auto;
  max-width: 80vw;
  padding-top: 1vh;
}

.app-message-display {
  background-color: rgb(255, 240, 240);
  padding: 1px;
  border-radius: 3px;
}

.refresh {
  margin-left: 75%;
  padding: 0.5rem;
  justify-content: flex-end;
  background-color: turquoise;
}

#story-columns,
#more-home-columns {
  display: flex;
  padding: 1rem;
}

#story-paragraph {
  /* margin-top: 1rem; */
  font-size: medium;
}

.columns {
  flex: 50%;
  flex-direction: row;
  justify-content: center;
}

#title {
  /* padding-bottom: 0; */
  font-size: 3vh;
}

#page-body {
  position: relative;
  /* background-image: linear-gradient(0.5turn, snow, white, snow); */
  /* height: 90%; */
  padding: 0;
  padding-bottom: 1px;
  margin: 1vh 10vw;
  /* max-width: 95vw; */
  /* top: 5%; */
  /* max-height: 95vh; */
  /* margin: 0; */
  /* top: 50%;
    left: 50%; */
  /* transform: translate(0%, 25%); */
  /* padding-right: 30px;
    padding-left: 30px; */
}

.default-button {
  margin: 2rem;
  outline: black solid 0.1rem;
  border-radius: 1rem;
  padding: 3rem;
  background-image: linear-gradient(to bottom right, dodgerblue, turquoise);
  font-size: 2rem;
  align-items: center;
}

.default-button:hover {
  outline: rgb(65, 65, 65) solid 0.2rem;
  background-image: #ff8484;
  background-image: linear-gradient(to bottom right, teal, turquoise);
  /* font-size: x-large; */
}

.default-button:disabled {
  background-image: linear-gradient(to bottom right, darkgrey, slategrey);
}

#home-photo-1 {
  display: block;
  margin: 0 auto;
  content: url(assets/Images/main.jpg);
  width: 90%;
}

#home-photo-2 {
  content: url("./assets/Images/DSC_4256.jpg");
  width: 95%;
}
#home-photo-3 {
  content: url("./assets/Images/DSC_4304.jpg");
  width: 95%;
}

#header #home-page {
  text-align: center;
}

#nav-links {
  margin: 0 auto;
}

#nav-bar {
  list-style-type: none;
  padding: 1rem 0;
  text-align: center;
  position: relative;
}

#nav-bar ul {
  font-size: 100%;
  list-style-type: none;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0;
  overflow: hidden;
  color: rgba(133, 113, 102, 1);
  /* background-color: #333; */
}

#nav-bar li {
  display: inline;
  border-bottom: 2px solid transparent;
}

#nav-bar li a {
  color: #867267;
  font-weight: bold;
  text-align: center;
  margin: 0 1rem;
  text-decoration: none;
}

/* Change the link color to #111 (red) on hover */
#nav-bar li a:hover {
  /* background-color: #111; */
  border-bottom: 2px rgba(133, 113, 102, 1) solid;
}

.training-hrs:nth-of-type(4) {
  display: none;
}

#desktop-div {
  display: block;
}
#mobile-div {
  display: none;
}
/* Now define features of mobile screen. Should be 768px */
@media only screen and (max-width: 768px) {
  #desktop-div {
    display: none;
  }
  #mobile-div {
    display: block;
  }
  hr {
    margin: 0.5rem;
  }

  .rows {
    padding: 0.5rem;
  }

  #root {
    max-width: 90vw;
  }

  p {
    font-size: medium;
    /* text-indent: 1rem; */
  }

  .fa,
  .fa-bars {
    display: inline;
    /* content: url("assets/images/navbar.png"); */
  }

  .nav-links li:not(:first-child) {
    display: none !important;
  }

  .nav-links .icon {
    float: right;
    display: block;
  }
}
