body {
  background-image: url("./assets/Images/wedding-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* text-align: center; */
}

* {
  /* border: 1px solid red; */
}

header {
  /* background-image: linear-gradient(to top, violet, red); */
  /* padding: 1rem; */
  text-align: center;
  padding: 0;
  border-radius: 1rem;
}

section {
  border-radius: 1rem;
}

p,
h1,
h2,
h3,
span {
  font-family: "Lucida Handwriting", cursive;
}

#travel-tabs p > span,
#travel-tabs p,
#travel-tabs h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-indent: 2rem;
  color: #867267;
  font-size: large;
  line-height: 1.5;
  padding: 0 2vw;
}

h1 {
  text-align: center;
  padding: 1rem;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: x-large;
}

h3 {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 10px;
  display: block;
}

td,
th {
  border: 0.15rem solid black;
  font-family: arial, sans-serif;
  font-size: large;
  text-align: center;
  padding: 0.5rem;
}

tr:nth-child(odd) {
  background-color: skyblue;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}

iframe {
  display: block;
  margin: 0 auto;
}

#root {
  margin: 0 auto;
  width: 1000px;
  /* max-width: 80%; */
  padding-top: 1vh;
}

.app-message-display {
  background-color: rgb(255, 240, 240);
  padding: 1px;
  border-radius: 3px;
}

#story-columns,
#more-home-columns {
  display: flex;
  padding: 1rem;
}

#story-paragraph {
  /* margin-top: 1rem; */
  font-size: medium;
}

.columns {
  flex: 50%;
  flex-direction: row;
  justify-content: center;
}

.hotel-names {
  font-weight: bold;
  text-decoration: underline;
  color: magenta !important;
}
.reservation-link {
  font-weight: bold;
  text-decoration: underline;
  color: #007bff !important;
}

.lodging-locations a {
  color: white;
}

.lodging-locations a:hover {
  font-weight: bold;
}

h1#title {
  /* padding-bottom: 0; */
  font-size: xx-large;
}

#page-body {
  position: relative;
  /* background-image: linear-gradient(0.5turn, snow, white, snow); */
  /* height: 90%; */
  padding: 0;
  padding-bottom: 1px;
  margin: 1rem;
  /* max-width: 95vw; */
  /* top: 5%; */
  /* max-height: 95vh; */
  /* margin: 0; */
  /* top: 50%;
    left: 50%; */
  /* transform: translate(0%, 25%); */
  /* padding-right: 30px;
    padding-left: 30px; */
}

#supporting-photo {
  content: "./assets/Images/DSC_4197.jpg";
}

.default-button {
  text-align: center;
  display: block;
  margin: 10px auto;
  outline: black solid 0.1rem;
  border-radius: 1rem;
  width: 400px;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #5f8575, limegreen);
  color: navy;
  font-size: 2rem;
}

.default-button:hover {
  outline: rgb(65, 65, 65) solid 0.2rem;
  background-image: #ff8484;
  background-image: linear-gradient(to bottom right, teal, turquoise);
  /* font-size: x-large; */
}

.default-button:disabled {
  background-image: linear-gradient(to bottom right, darkgrey, slategrey);
}

#travel-tabs {
  padding-inline-start: 0;
}

#travel-tabs li {
  list-style-type: none;
  background-color: navy;
  color: white;
  text-align: center;
  border-radius: 20px;
  font-size: large;
  padding: 1em;
  margin: 0.5em;
}

.tab-title {
  cursor: pointer;
}

img {
  margin: 0 auto;
  display: block;
}

#home-photo-1 {
  content: url(assets/Images/main.jpg);
  width: 90%;
}

#home-photo-2 {
  content: url("./assets/Images/DSC_4491.jpg");
  width: 95%;
}
#home-photo-3 {
  content: url("./assets/Images/DSC_4545.jpg");
  width: 95%;
}

#header #home-page {
  text-align: center;
}

#nav-links {
  margin: 0 auto;
}

#nav-bar {
  list-style-type: none;
  padding: 1rem 0;
  text-align: center;
  position: relative;
}

#nav-bar ul {
  font-size: 100%;
  list-style-type: none;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0;
  overflow: hidden;
  color: rgba(133, 113, 102, 1);
  /* background-color: #333; */
}

#nav-bar li {
  display: inline;
  border-bottom: 2px solid transparent;
}

#nav-bar li a {
  color: #867267;
  font-weight: bold;
  text-align: center;
  margin: 0 1rem;
  text-decoration: none;
}

#ceremony-directions {
  padding-left: 1rem;
}

#ceremony-directions li {
  list-style-type: revert;
  text-align: left;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.lodging-locations {
  display: block;
  text-align: center;
}

/* #final-paragraph {
  padding-bottom: 0;
} */

/* Change the link color to #111 (red) on hover */
#nav-bar li a:hover {
  /* background-color: #111; */
  border-bottom: 2px rgba(133, 113, 102, 1) solid;
}

.training-hrs:nth-of-type(4) {
  display: none;
}

#desktop-div {
  display: block;
}
#mobile-div {
  display: none;
}
.tab-content {
  display: none;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

.tab-content p {
  color: white;
  text-indent: 0;
}

i.toggle-tab-icon {
  content: url("./assets/Images/arrowOrange.png");
  float: right;
  transform: scale(0.75);
}

.open {
  transform: scale(0.75, -0.75) translateY(20px);
}

.tab-content.active {
  display: block !important;
}

.tab-title.active span {
  font-weight: bold;
  font-size: x-large;
}

.dev-enabled {
  display: inline !important;
}

/* Add and remove when doing dev work */
.nav-links li:nth-child(4),
.nav-links li:nth-child(3) {
  display: none !important;
}

img {
  margin: 0 auto;
}

/* Now define features of mobile screen. Should be 768px */
@media only screen and (max-width: 1000px) {
  #page-body {
    margin: 1vh 5vw;
  }
  #desktop-div {
    display: none;
  }
  #mobile-div {
    display: block;
  }

  div#lodging-content {
    padding: 0;
  }

  i.toggle-tab-icon {
    content: url("./assets/Images/arrowOrange.png");
    float: right;
    transform: scale(0.5) translateY(-0.4rem);
  }

  hr {
    margin: 0.5rem;
  }

  .rows {
    padding: 0.5rem;
    margin: 0 auto;
  }

  #root {
    max-width: 90vw;
  }

  p {
    font-size: medium;
    /* text-indent: 1rem; */
  }

  .fa,
  .fa-bars {
    display: inline;
    /* content: url("assets/images/navbar.png"); */
  }

  /* .nav-links .icon {
    float: right;
    display: block;
  } */
}

@media only screen and (max-width: 475px) {
  label {
    font-size: medium;
  }

  div#page-body {
    margin: 1vh 1vw;
  }

  #nav-bar li a {
    margin: 0 0.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  p {
    font-size: 1.12rem;
  }
}

@media only screen and (min-width: 1600px) {
  p {
    font-size: 1.115rem;
  }
}
